<div class="modal-header">
  <h4 class="modal-title">{{ editDomain.domain }}</h4>
  <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
</div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="container">
      
      <!--Cert Path Field-->
      <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="span-domain input-group-text">Cert Path</span>
        </div>
        <input type="text" formControlName="certPath" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.certPath.errors }"/>
        <div *ngIf="submitted && formControls.certPath.errors" class="invalid-feedback">
          <div *ngIf="formControls.domain.certPath.required">Cert Path is required</div>
        </div>      
      </div>
        
      <!--Key Path Field-->
      <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="span-domain input-group-text">Key Path</span>
        </div>
        <input type="text" formControlName="keyPath" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.keyPath.errors }"/>
        <div *ngIf="submitted && formControls.keyPath.errors" class="invalid-feedback">
          <div *ngIf="formControls.keyPath.errors.required">Key Path is required</div>
        </div>      
      </div>

      </div>
    </div>
  <div class="modal-footer">
    <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
      <div></div><div></div><div></div>
      </div></div>
    <button ngbAutofocus class="btn btn-outline-dark float-right login_btn">Save</button>
  </div>
</form>