<workspace-navbar></workspace-navbar>
<app-alert></app-alert>
<body style="margin: 20px">
  <div>
    <h3 style="display:inline-block">
      <b class="h3-prefix">CAM</b>
      <b class="h3-suffix">PAIGNS</b>
    </h3>
    <button routerLink="new" class="btn btn-outline-dark login_btn" style="float: right;">New Campaign</button>
  </div>
  <br>
  <div class="card-deck">
    <div *ngFor="let campaign of campaigns" class="card border-dark" style="max-width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ campaign.name }}</h5>
        <p class="small">{{ campaign.status }}</p>
        <button [disabled]="loading" class="btn btn-outline-danger fas fa-trash-alt" title="Delete" style="float: right;" (click)="openDelete(campaign)"></button>
        <button [disabled]="loading" class="btn btn-outline-dark far fa-clone" title="Clone" style="float: right; margin-right: 1vh" (click)="cloneCampaign(campaign)"></button>
        <button [disabled]="loading" *ngIf="campaign.status == 'Inactive'" title="Edit" class="btn btn-outline-dark fas fa-sign-in-alt" style="float: right; margin-right: 1vh" (click)="openEdit(campaign)"></button>
        <button [disabled]="loading" *ngIf="campaign.status != 'Inactive'" title="View" class="btn btn-outline-dark fas fa-sign-in-alt" style="float: right; margin-right: 1vh" (click)="openView(campaign)"></button>
        <button [disabled]="loading" *ngIf="campaign.status == 'Inactive'" title="Cast Lures" class="btn btn-outline-primary fas fa-play" style="float: right; margin-right: 1vh" (click)="launchCampaign(campaign)"></button>
        <img *ngIf="loading" class="float-right" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </div>
  </div>
</body>