<navbar></navbar>
<body style="margin: 20px">
  <div>
    <h3 style="display:inline-block">Workspaces</h3>
    <button class="btn btn-outline-dark login_btn" style="float: right;">New</button>
  </div>
  <br>
  <div class="card-deck">
    <div *ngFor="let workspace of workspaces" class="card" style="max-width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{workspace.name}}</h5>
        <a href="workspaces/{{workspace.id}}" class="btn btn-outline-dark login_btn">Enter</a>
      </div>
    </div>
  </div>
</body>
