<main-navbar></main-navbar>
<app-alert></app-alert>
<body style="margin: 20px;">
  <div>
    <h3 style="display:inline-block">
      <b class="h3-prefix">WORK</b>
      <b class="h3-suffix">SPACES</b>
    </h3>
    <button class="btn btn-outline-dark login_btn" style="float: right;" (click)="openNewModal()">New Workspace <i class="fas fa-layer-group"></i></button>
  </div>
  <br>
  <div class="card-deck">
    <div *ngFor="let workspace of workspaces" class="card border-dark" style="max-width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ workspace.name }}</h5>
        <button class="btn btn-outline-danger fas fa-trash-alt" title="Delete" style="float: right;"
          (click)="openDeleteModal(workspace)"></button>
        <a routerLink="{{ workspace.id }}/results" (click)="enterWs(workspace.name)" title="Enter" style="float: right; margin-right: 1vh"
          class="btn btn-outline-dark fas fa-sign-in-alt"></a>
      </div>
    </div>
  </div>
</body>