<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">

    <!-- Navbar brand -->
    <a class="navbar-brand pt-0 waves-effect" href="/">
        <img src="assets/text-logo.PNG" height="30" alt="mdb logo">
    </a>
  
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link info-color" href="/workspaces">Workspaces</a>
      </li>
      <li class="nav-item">
          <a class="nav-link info-color" href="/domains">Domains & Servers</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/results">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/campaigns">Campaigns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/emails">Emails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages">Pages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profiles">Profiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users & Roles</a>
      </li>

     
  
      </ul>
      <!-- Links -->

  
  </nav>
  <!--/.Navbar-->