<div class="modal-header">
    <h4 class="modal-title">New List</h4>
    <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
</div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="container">

      <div class="row">
        <!--Name Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.name.errors }"/>
          <div *ngIf="submitted && formControls.name.errors" class="invalid-feedback">
            <div *ngIf="formControls.name.errors.required">Name is required</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-header">
    <h5 class="modal-title">Targets</h5>
    <span class="float-right">
      <i class="fa fa-question-circle" style="margin-right: 4px;" triggers="mouseenter:mouseleave" ngbPopover="CSV headers: first,last,email. Email is required"></i>
      <button type="button" class="btn btn-outline-primary" (click)="file.click()">Upload File <i class="fas fa-file-csv"></i></button>
      <input style="display: none" type="file" id="browse" accept=".csv" (change)="onFileSelect($event)" #file>
    </span>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <!--First Name Field-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">First</span>
            </div>
            <input formControlName="first_name" type="text" class="form-control" name="first_name"/>
          </div>
        </div>

        <div class="col-3">
          <!--Last Name Field-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Last</span>
            </div>
            <input formControlName="last_name" type="text" class="form-control" name="last_name"/>
          </div>
        </div>

        <div class="col-5">
          <!--Email Field-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input formControlName="email" type="text" class="form-control" name="email"/>
          </div>
        </div>

        <div class="col-1">
          <button class="btn btn-outline-dark fas fa-user-plus" style="height: 67%" type="button" (click)="insertTarget()"></button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped col-auto table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col" *ngFor="let head of headers; let i = index">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let target of targets; let i = index">
            <th scope="row">{{ i +1 }}</th>
            <td>{{ target.first_name }}</td>
            <td>{{ target.last_name }}</td>
            <td>{{ target.email }}</td>
            <td class="btn-group btn-group-sm">
              <button class="btn btn-outline-danger fas fa-trash-alt" title="Delete" (click)="deleteTarget(target)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="form-group modal-footer">
    <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
      <div></div><div></div><div></div>
      </div></div>
    <button ngbAutofocus [disabled]="loading" class="btn btn-outline-dark float-right">Create</button>
  </div>
</form>