<main-navbar></main-navbar>
<app-alert></app-alert>
<div class="d-md-flex h-md-100">
  <!-- First Half -->
  <div class="container" style="border-right: solid 1px">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md d-flex justify-content-start">
        <h3>
          <b class="h3-prefix">SER</b>
          <b class="h3-suffix">VERS</b>
        </h3>
        <img class="text-center" style="max-height: 19px; padding-inline-start: 2vh;" *ngIf="serverLoading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-outline-dark btn-right" (click)="openServerModal()">New Server <i class="fas fa-server"></i></button>
      </div>
    </div>

    <div class="row align-items-center" style="margin-left: 2px">
      <div class="input-group input-group-sm form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-info-circle" placement="right" triggers="mouseenter:mouseleave" ngbPopover="Paste this value into the redlure-worker configs. If you refresh this value you will have to edit each worker's configs and restart the worker."></i>
          </span>
          <span class="input-group-text">API Key</span>
        </div>
        <input style="width: 415px; padding-left: 5px" type="text" value="{{ apiKey }}" readonly/>
        <div class="input-group-append">
          <button class="btn btn-outline-dark fas fa-copy" title="Copy" (click)="copyApiKey()"></button>
          <button class="btn btn-outline-danger fas fa-sync" title="Regenerate" (click)="refreshApiKey()"></button>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table id="serverTable" datatable [dtTrigger]="dtTrigger['serverTable']" class="table table-hover table-striped col-auto">
        <thead class="thead-dark">
          <tr>
            <th scope="col" *ngFor="let head of serverHeaders; let i = index">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let server of servers; let i = index">
            <th scope="row">{{ i +1 }}</th>
            <td>{{ server.alias }}</td>
            <td>{{ server.ip }}</td>
            <td>{{ server.port }}</td>
            <td>{{ server.status }}</td>
            <td class="btn-group">
              <button class="btn btn-outline-dark fas fa-stream" title="Listening Ports" (click)="checkNetstat(server)"></button>
              <button class="btn btn-outline-dark far fa-folder-open" title="Upload File" (click)="openFiles(server)"></button>
              <button class="btn btn-outline-primary fas fa-sync" title="Refresh Status" (click)="refreshStatus(server)"></button>
              <button class="btn btn-outline-danger far fa-trash-alt" title="Delete" (click)="deleteServerModal(server)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Second Half -->
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md d-flex justify-content-start">
        <h3>
          <b class="h3-prefix">DO</b>
          <b class="h3-suffix">MAINS</b>
        </h3>
        <img class="text-center" style="max-height: 19px; padding-inline-start: 2vh;" *ngIf="domainLoading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
      <div class="col-md d-flex justify-content-end">
        <button class="btn btn-outline-dark btn-right" (click)="openDomainModal()">New Domain <i class="fas fa-globe"></i></button>
      </div>
    </div>
    <br>
    <br>

    <div class="table-responsive">
      <table id="domainTable" datatable [dtTrigger]="dtTrigger['domainTable']" class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let head of domainHeaders; let i = index" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let domain of domains; let i = index">
            <th scope="row">{{ i +1 }}</th>
            <td>{{ domain.domain }}</td>
            <td>{{ domain.ip }}</td>
            <td style="font-style: italic">
              <div *ngIf="hasCerts(domain);then set else unset"></div>    
              <ng-template #set>Set</ng-template>
              <ng-template #unset>Unset</ng-template>
            </td>
            <td class="btn-group">
              <button class="btn btn-outline-dark fas fa-edit" title="Edit Certs" (click)="editCerts(domain)"></button>
              <button class="btn btn-outline-success fas fa-lock" title="Generate Certs (LetsEncrypt)" (click)="genDomainCert(domain)"></button>
              <button class="btn btn-outline-primary fas fa-sync" title="Refresh DNS" (click)="updateDNS(domain)"></button>
              <button class="btn btn-outline-danger far fa-trash-alt" title="Delete" (click)="deleteDomainModal(domain)"></button>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>