<main-navbar></main-navbar>
<app-alert></app-alert>
<div class="d-md-flex">
  <!-- First Half -->
  <div class="container" style="border-right: solid 1px">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md d-flex justify-content-start">
        <h3>
          <b class="h3-prefix">US</b>
          <b class="h3-suffix">ERS</b>
        </h3>
      
        <div *ngIf="userLoading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
          <div></div><div></div><div></div>
          </div></div>
      
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-outline-dark btn-right" (click)="addUserModal()">New User <i class="fas fa-user"></i></button>
      </div>
    </div>
    <br>

    <div class="table-responsive">
      <table id="userTable" datatable [dtTrigger]="dtTrigger['userTable']" class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" *ngFor="let head of userHeaders; let i = index">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{ i +1 }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.role.name }}</td>
            <td class="btn-group">
              <button class="btn btn-outline-dark fas fa-unlock" title="Reset Password" style="float: right;" (click)="resetPassword(user)"></button>
              <button class="btn btn-outline-danger fas fa-trash-alt" title="Delete" style="float: right;" (click)="deleteUserModal(user)"></button>
              <!--<a style="cursor: pointer;" title="Reset Password" data-toggle="tooltip" (click)="resetPassword(user)"><i class="ico text-dark fas fa-unlock"></i></a>
              <a style="cursor: pointer;" title="Delete" data-toggle="tooltip" (click)="deleteUserModal(user)"><i class="ico text-danger fas fa-trash-alt"></i></a>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Second Half -->
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md d-flex justify-content-start">
        <h3>
          <b class="h3-prefix">RO</b>
          <b class="h3-suffix">LES</b>
        </h3>

        <div *ngIf="roleLoading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
          <div></div><div></div><div></div>
          </div></div>

      </div>
      <div class="col-md d-flex justify-content-end">
        <button class="btn btn-outline-dark btn-right" (click)="addRoleModal()">New Role <i class="fas fa-user-tag"></i></button>
      </div>
    </div>
    <br>

    <div class="table-responsive">
      <table id="roleTable" datatable [dtTrigger]="dtTrigger['roleTable']" class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let head of roleHeaders; let i = index" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles; let i = index">
            <th scope="row">{{ i +1 }}</th>
            <td>{{ role.name }}</td>
            <td>{{ role.role_type }}</td>
            <td class="btn-group">
              <button class="btn btn-outline-dark fas fa-edit" title="Edit" style="float: right;" (click)="editRoleModal(role)"></button>
              <button class="btn btn-outline-danger fas fa-trash-alt" title="Delete" style="float: right;" (click)="deleteRoleModal(role)"></button>
              <!--<a style="cursor: pointer;" title="Edit" data-toggle="tooltip" (click)="editRoleModal(role)"><i class="text-dark fas fa-edit"></i></a>
              <a style="cursor: pointer;" title="Delete" data-toggle="tooltip" (click)="deleteRoleModal(role)"><i class="ico text-danger fas fa-trash-alt"></i></a>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>