<div class="modal-header">
  <h4 class="modal-title">Files Uploaded on {{ editServer.alias }}</h4>
  <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th *ngFor="let head of headers; let i = index" scope="col">{{ head }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files; let i = index">
          <th scope="row">{{ i +1 }}</th>
          <td>{{ file }}</td>
          <td class="btn-group btn-group-sm">
            <button class="btn btn-outline-danger fas fa-trash-alt" [disabled]="loading" title="Delete" (click)="deleteFile(file)"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">

  <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
    <div></div><div></div><div></div>
    </div></div>
  
  <button [disabled]="loading" class="btn btn-outline-danger" (click)="deleteAll()">Clear Uploads <i class="fas fa-trash"></i></button>
  <button [disabled]="loading" class="btn btn-outline-primary" (click)="file.click()">Upload File <i class="fas fa-file-upload"></i></button>
  <input style="display: none" type="file" id="browse" (change)="uploadFile($event)" #file>
</div>

<!--
  <a style="cursor: pointer;" title="Upload File" data-toggle="tooltip" (click)="file.click()"><i class="ico text-dark fas fa-file-upload"></i></a>
  <input style="display: none" type="file" (change)="uploadFile($event, server)" #file>
-->