<div class="modal-header">
    <h4 class="modal-title">New Server</h4>
    <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="container">
        
        <!--IP Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-server input-group-text">IP Address</span>
          </div>
          <input type="text" formControlName="ip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ip.errors }"/>
          <div *ngIf="submitted && f.ip.errors" class="invalid-feedback">
            <div *ngIf="f.ip.errors.required">IP Address is required</div>
          </div>
        </div>

        <!--Alias Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-server input-group-text">Alias</span>
          </div>
          <input type="text" formControlName="alias" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alias.errors }"/>
          <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
            <div *ngIf="f.alias.errors.required">Alias is required</div>
          </div>
        </div>

          <!--Port Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-server input-group-text">Port</span>
          </div>
          <input type="text" formControlName="port" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.port.errors }"/>
          <div *ngIf="submitted && f.port.errors" class="invalid-feedback">
            <div *ngIf="f.port.errors.required">Port is required</div>
            <div *ngIf="f.port.errors.pattern">Port must be numeric</div>
          </div>
        </div>

      </div>
    </div>
    <div class="form-group modal-footer">
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <button ngbAutofocus [disabled]="loading" class="btn btn-outline-dark float-right">Create</button>
    </div>
  </form>