<div class="h-100 w-100 vertical-center">
    <div class="container">
        <div class="row border-0">
            <div class="card card-login mx-auto text-center border-0">
                <div class="card-header mx-auto bg-white border-0">
                    <!--<span> 
                        <logo class="logo-prefix">RED</logo>
                        <logo>LURE</logo>
                    </span><br/>
                    -->
                <img src="assets/redlure.png">
                </div>
                <div class="card-body login-card">
                <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <!-- Username Field -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="span-login input-group-text">Username</span>
                        </div>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>

                    <!-- Password Field -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="span-login input-group-text">Password</span>
                        </div>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>

                    <!--Server Field-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="span-login input-group-text">Server</span>
                        </div>
                        <input placeholder="https://10.1.2.3:5000" type="text" formControlName="server" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.server.errors }"/>
                        <div *ngIf="submitted && f.server.errors" class="invalid-feedback">
                            <div *ngIf="f.server.errors.required">Server is required</div>
                        </div>
                    </div>

                    <div *ngIf="failed" class="text-danger text-left">
                        <p style="display: inline; margin-right: 4px">{{ failMsg }}</p>
                        <i class="fa fa-times"></i>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-outline-dark float-right login_btn" style="margin-left: 2px">Login <i class="fas fa-sign-in-alt"></i></button>
                        <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m float-right"><div class="ldio-c46ivvx8kf">
                            <div></div><div></div><div></div>
                            </div></div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
