<div class="modal-header">
    <h4 class="modal-title">New Campaign: Sending Options</h4>
    <div>
      <button class="btn btn-outline-danger" style="float: right; margin-left: 2px" (click)="closeModal()">Close</button>
    </div>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="container">
        
       <!--Target List Field-->
       <div class="input-group form-group">
          <div class="input-group-prepend">
              <span class="input-group-text span-login">List</span>
          </div>
          <select class="form-control" formControlName="targetList" [ngClass]="{ 'is-invalid': submitted && formControls.targetList.errors }">
            <option disabled selected value> -- Select a list -- </option>
            <option *ngFor="let list of newCampaignService.allModules['lists']" [value]="list.id">{{ list.name }}</option>
          </select>
          <div *ngIf="submitted && formControls.targetList.errors" class="invalid-feedback">
            <div *ngIf="formControls.targetList.errors.required">List is required</div>
          </div>
        </div>

        <hr>

         <!--Profile Field-->
         <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text span-login">Profile</span>
            </div>
            <select class="form-control" formControlName="profile" [ngClass]="{ 'is-invalid': submitted && formControls.profile.errors }">
              <option disabled selected value> -- Select a profile -- </option>
              <option *ngFor="let profile of newCampaignService.allModules['profiles']" [value]="profile.id">{{ profile.name }}</option>
            </select>
            <div *ngIf="submitted && formControls.profile.errors" class="invalid-feedback">
              <div *ngIf="formControls.profile.errors.required">Profile is required</div>
            </div>
          </div>

          <hr>
          <p><strong>Optional Setting:</strong><br>Send emails in batches on an interval instead of all at once.</p>

          <!--Batch Number Field-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text span-form">Batch Size (Emails)</span>
            </div>
            <input placeholder="5" type="text" formControlName="batchNumber" class="form-control" [required]="formControls.batchInterval.value ? true : null" [ngClass]="{ 'is-invalid': submitted && formControls.batchNumber.errors }"/>
            <div *ngIf="submitted && formControls.batchNumber.errors" class="invalid-feedback">
              <div *ngIf="formControls.batchNumber.errors.pattern">Must be a number</div>
              <div *ngIf="formControls.batchNumber.errors.required">Required with interval</div>
            </div>
          </div>

          <!--Batch Interval Field-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text span-form">Interval (Minutes)</span>
            </div>
            <input style="width: 100px;" placeholder="10" type="text" formControlName="batchInterval" [required]="formControls.batchNumber.value ? true : null" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.batchInterval.errors }"/>
            <div *ngIf="submitted && formControls.batchInterval.errors" class="invalid-feedback">
              <div *ngIf="formControls.batchInterval.errors.pattern">Must be a number</div>
              <div *ngIf="formControls.batchInterval.errors.required">Required with batch size</div>
            </div>
          </div>

          <hr>
          <p><strong>Optional Setting:</strong><br>Schedule the campaign to start at a future date/time instead of immediately.</p>

          <!--Start Date/Time Field-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text span-login">Start Time</span>
            </div>
            <app-date-time-picker formControlName="startDate" name="startDate" [ngClass]="{ 'is-invalid': submitted && formControls.startDate.errors }"></app-date-time-picker>  
            <i class="fa fa-info-circle" style="margin-left: 4px; align-self: center;" placement="right" triggers="mouseenter:mouseleave" ngbPopover="Use time relative to the console's timezone, which may differ than your local timezone. Current console time is shown below."></i> 
            <div *ngIf="submitted && formControls.startDate.errors" class="invalid-feedback">
              <div *ngIf="formControls.startDate.errors.invalid">Must be a valid date time</div>
            </div>          
          </div>

          <!--Console Time Field-->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Console Time</span>
            </div>
            <input style="text-align: right; background-color: white;" class="form-control" type="text" value="{{ consoleTime.toLocaleString() }}" readonly/>
          </div>
          
          <div *ngIf="failed" class="text-danger">
            <br>
            <p style="display: inline; margin-right: 1vh">{{ failMsg }}</p>
            <i class="fa fa-times"></i>
          </div>
          
      </div>
    </div>
    <div class="modal-footer">
      <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m float-right"><div class="ldio-c46ivvx8kf">
        <div></div><div></div><div></div>
        </div></div>
      <button type="button" class="btn btn-outline-dark" style="float: right" (click)="backModal()"><i class="fas fa-arrow-left"></i></button>
      <button ngbAutofocus class="btn btn-outline-primary float-right login_btn" style="margin-left: 2px"><i class="far fa-paper-plane"></i></button>
    </div>
  </form>