<div class="header">
  <div class="sides">
    <a href="#" class="logo">Red Lure</a>
  </div>
  <div class="sides">
    <a href="#" class="menu">-</a>
  </div>
  <div class="info">
    <h1>RedLure</h1>
    <div class="meta">
      <a href="https://twitter.com/nodws" target="_b" class="author"></a>
      <br> By
      <a href="https://twitter.com/nodws" target="_b">NewBorn Software</a>
    </div>
  </div>
</div>
<section class="content">
  <p>We can keep this text here if we have something to say, consectetur adipiscing elit. In nisl turpis, porttitor et finibus
    id, viverra a metus. Praesent non ante sed orci posuere varius quis sit amet dui. Cras molestie magna orci, id gravida
    dolor molestie in. Duis sollicitudin turpis quis tortor egestas, ut ultrices nisl elementum. Vestibulum sed ipsum eget
    nulla laoreet cursus in ac sem. Integer a suscipit justo, quis aliquam sapien. Maecenas et tellus nibh. Vivamus tincidunt
    eros id commodo pellentesque.</p>
</section>