<workspace-navbar></workspace-navbar>
<app-alert></app-alert>
<body style="margin: 20px">
  <div>
    <h3 style="display:inline-block">
      <b class="h3-prefix">EM</b>
      <b class="h3-suffix">AILS</b>
    </h3>
    <a routerLink="new" style="float: right" class="btn btn-outline-dark">New Email</a>
  </div>
  <br>
  <div *ngIf="emails.length; else emptyBlock" class="card-deck">
    <div *ngFor="let email of emails" class="card border-dark" style="max-width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ email.name }}</h5>
        <p class="small">{{ email.subject }}</p>
        <button class="btn btn-outline-danger fas fa-trash-alt" title="Delete" style="float: right;" (click)="openDelete(email)"></button>
        <button class="btn btn-outline-dark far fa-clone" title="Clone" style="float: right; margin-right: 1vh" (click)="cloneEmail(email)"></button>
        <button class="btn btn-outline-dark fas fa-edit" title="Edit" style="float: right; margin-right: 1vh" (click)="openEdit(email)"></button>
      </div>
    </div>
  </div>

  <ng-template #emptyBlock>
    <app-empty-object></app-empty-object>
  </ng-template>
</body>