<div class="modal-header">
  <h4 class="modal-title">Delete User</h4>
</div>
<div class="modal-body">
  Are you sure you want to delete <div style="font-style: italic; display: inline;">{{editUser.username}}</div>?
</div>
<div class="modal-footer">
  <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
    <div></div><div></div><div></div>
    </div></div>
  <button class="btn btn-outline-danger float-left" (click)="deleteUser()">Delete</button>
  <button class="btn btn-outline-dark" (click)="closeModal()">Close</button>
</div>
      