<div class="modal-header">
    <h4 class="modal-title">New Profile</h4>
    <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="container">
        
        <!--Name Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-profile input-group-text">Name</span>
          </div>
          <input type="text" formControlName="name" placeholder="Profile Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>

        <!--From Address Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-profile input-group-text">Sender</span>
          </div>
          <input type="text" formControlName="fromAddress" placeholder="Sender Name <sender@phish.com>" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fromAddress.errors }"/>
          <div *ngIf="submitted && f.fromAddress.errors" class="invalid-feedback">
            <div *ngIf="f.fromAddress.errors.required">Email is required</div>
          </div>
        </div>

        <br>
        <h5>SMTP Configs</h5>

        <!--SMTP Host Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-profile input-group-text">Host</span>
          </div>
          <input type="text" formControlName="smtpHost" placeholder="mx.mydomain.com" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smtpHost.errors }"/>
          <div *ngIf="submitted && f.smtpHost.errors" class="invalid-feedback">
            <div *ngIf="f.smtpHost.errors.required">SMTP Host is required</div>
          </div>
        </div>

         <!--SMTP Port Field-->
         <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-profile input-group-text">Port</span>
          </div>
          <input type="text" formControlName="smtpPort" placeholder="587" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smtpPort.errors }"/>
          <div *ngIf="submitted && f.smtpPort.errors" class="invalid-feedback">
            <div *ngIf="f.smtpPort.errors.required">SMTP Port is required</div>
            <div *ngIf="f.smtpPort.errors.pattern">SMTP Port must be a number</div>
          </div>
        </div>

        <!--Username Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-profile input-group-text">Username</span>
          </div>
          <input type="text" formControlName="username" placeholder="sender@phish.com" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>

        <!--Password Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-profile input-group-text">Password</span>
          </div>
          <input type="{{ passwordType }}" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div class="input-group-append">
            <button *ngIf="passwordType == 'password'" class="btn btn-sm btn-outline-dark fas fa-eye" (click)="togglePassword('text')" title="Show password"></button>
            <button *ngIf="passwordType == 'text'" class="btn btn-sm btn-outline-dark fas fa-eye-slash" (click)="togglePassword('password')" title="Hide password"></button>
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>

        <!--TLS Field-->
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" id="tls" (change)="tlsChange($event)">
          <label class="custom-control-label" for="tls">Use TLS</label>
        </div>


         <!--SSL Field-->
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" id="ssl" (change)="sslChange($event)">
          <label class="custom-control-label" for="ssl">Use SSL</label>
        </div>
        <!--<i class="fa fa-info-circle" placement="right" triggers="mouseenter:mouseleave" ngbPopover="SMTP servers typically use TLS over port 587 and SSL over port 465"></i>-->
        

      </div>
    </div>
    <div class="form-group modal-footer">
      <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
        <div></div><div></div><div></div>
        </div></div>
      <button ngbAutofocus [disabled]="loading" class="btn btn-outline-dark float-right">Create</button>
    </div>
  </form>