/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');


/*
@font-face {
    font-family: 'sans-forgetica';
    src: url(assets/font/SansForgetica-Regular.otf) format("opentype");
  }
*/

h3 {
    font-family: 'Alegreya', serif;
}

.h3-prefix {
    color: #dc3545
}

logo {
    font-family: 'Alegreya', serif;
    font-size: 60px;
}

.logo-prefix {
    color: #dc3545
}

.h3-suffix {
    color: #343a40
}

@media (min-width: 768px) {
    .h-md-100 { 
        height: 100vh;
        vertical-align: text-top;
    }
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.nav-item {
    color: white;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .btn-right {
      float: right;
  }

.span-domain {
    float: left;
    width: 90px;
}

.span-login {
    float: left;
    width: 100px;
}

.span-user {
    float: left;
    width: 155px;
}

.span-server {
    float: left;
    width: 100px;
}

.span-profile {
    float: left;
    width: 95px;
}

.span-form {
    float: left;
    width: 170px;
}

.span-redir {
    float: left;
    width: 120px;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invalid-login {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    text-align: left;
}

.login-card {
    width: 550px;
    min-width: 400px;
}

.modal-dialog {
    width: 200%;
}

.nonform-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
 .ico {
     margin-left: 1vh;
 }


 .highlighted {
     background: lightblue;
 }

 .card-deck {
     grid-template-columns: repeat(5, minmax(250px, 1fr));
 }

 .centerBlock {
    display: table;
    margin: auto;
    text-align: center;
  }

  .results {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 32px;
  }

  .result-btn {
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.hugeModal > .modal-dialog {
    max-width: 80% !important;
    width: 80% !important;
}

.emptyObject {
    left: 50%;
    top: 50%;
    position: absolute;
    font-style: italic;
    font-size: 18px;
}

.btn-outline-purple {
color: #6f42c1;
border-color: #6f42c1;
}

.btn-outline-purple:hover {
color: #fff;
background-color: #6f42c1;
border-color: #6f42c1;
}

.btn-outline-purple:focus, .btn-outline-purple.focus {
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-purple.disabled, .btn-outline-purple:disabled {
color: #6f42c1;
background-color: transparent;
}

.btn-outline-purple:not(:disabled):not(.disabled):active, .btn-outline-purple:not(:disabled):not(.disabled).active,
.show > .btn-outline-purple.dropdown-toggle {
color: #fff;
background-color: #6f42c1;
border-color: #6f42c1;
}

.btn-outline-purple:not(:disabled):not(.disabled):active:focus, .btn-outline-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-purple.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

.border-purple {
border-color: #6f42c1 !important;
}

@keyframes ldio-c46ivvx8kf-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(40px,0) }
   50%    { opacity: 0; transform: translate(40px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-c46ivvx8kf {
    0% { transform: translate(0,0) }
   50% { transform: translate(40px,0) }
  100% { transform: translate(0,0) }
}
.ldio-c46ivvx8kf div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 30px;
  left: 10px;
}
.ldio-c46ivvx8kf div:nth-child(1) {
  background: #dc3545;
  animation: ldio-c46ivvx8kf 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-c46ivvx8kf div:nth-child(2) {
  background: #343a40;
  animation: ldio-c46ivvx8kf 1s linear infinite;
  animation-delay: 0s;
}
.ldio-c46ivvx8kf div:nth-child(3) {
  background: #dc3545;
  animation: ldio-c46ivvx8kf-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-jmseu88834m {
  width: 31px;
  height: 31px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  margin-left: 4px;
  margin-right: 4px;
}
.ldio-c46ivvx8kf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.31);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-c46ivvx8kf div { box-sizing: content-box; }
/* generated by https://loading.io/ */