/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@font-face {
    font-family: 'sans-forgetica';
    src: url(assets/font/SansForgetica-Regular.otf) format("opentype");
  }

h3 {
    font-family: 'sans-forgetica';
}

.h3-prefix {
    color: red
}

logo {
    font-family: 'sans-forgetica';
    font-size: 60px;
}

.logo-prefix {
    color: red;
}

.h3-suffix {
    color: black;
}

@media (min-width: 768px) {
    .h-md-100 { 
        height: 100vh;
        vertical-align: text-top;
    }
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.nav-item {
    color: white;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .btn-right {
      float: right;
  }

.span-domain {
    float: left;
    width: 90px;
}

.span-login {
    float: left;
    width: 100px;
}

.span-server {
    float: left;
    width: 100px;
}

.span-profile {
    float: left;
    width: 95px;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invalid-login {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    text-align: left;
}

.login-card {
    width: 50vh;
    min-width: 400px
}

.modal-dialog {
    width: 200%;
}

.nonform-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
 .ico {
     margin-left: 1vh;
 }


 .highlighted {
     background: lightblue;
 }
