<workspace-navbar></workspace-navbar>
<app-alert></app-alert>
<body style="margin: 20px">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md d-flex justify-content-start">
      <h3 style="display:inline-block">
        <b class="h3-prefix">PRO</b>
        <b class="h3-suffix">FILES</b>
      </h3>

      <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
        <div></div><div></div><div></div>
        </div></div>

    </div>
    <div class="col-md d-flex justify-content-end">
      <button class="btn btn-outline-dark login_btn" style="float: right;" (click)="openNew()">New Profile <i class="fas fa-user-secret"></i></button>
    </div>
  </div>
  <br>
  <div *ngIf="profiles.length; else emptyBlock" class="card-deck">
    <div *ngFor="let profile of profiles" class="card border-dark" style="max-width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ profile.name }}</h5>
        <p class="small">{{ profile.from_address }}</p>
        <p class="small">{{ profile.smtp_host }}</p>
        <button class="btn btn-outline-danger fas fa-trash-alt" title="Delete" style="float: right;" (click)="openDelete(profile)"></button>
        <button class="btn btn-outline-dark far fa-clone" title="Clone" style="float: right; margin-right: 2px" (click)="cloneProfile(profile)"></button>
        <button class="btn btn-outline-dark fas fa-envelope" title="Test" style="float: right; margin-right: 2px" (click)="openTest(profile)"></button>
        <button class="btn btn-outline-dark fas fa-edit" title="Edit" style="float: right; margin-right: 2px" (click)="openEdit(profile)"></button>
      </div>
    </div>
  </div>

  <ng-template #emptyBlock>
    <app-empty-object></app-empty-object>
  </ng-template>
</body>