<div class="modal-header">
    <h4 class="modal-title">New Role</h4>
    <button class="btn btn-outline-danger" (click)="closeModal()">Close</button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="container">

        <!--name Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="span-login input-group-text">Name</span>
          </div>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
          
        <!-- Type Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
              <span class="span-login input-group-text">Type</span>
          </div>
          <select class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
            <option disabled selected value> -- Select a role -- </option>
            <option>Administrator</option>
            <option>User</option>
            <!--<option>Client</option>-->
          </select>
          <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors.required">Type is required</div>
          </div>
        </div>

        </div>
      </div>
    <div class="modal-footer">
      <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m"><div class="ldio-c46ivvx8kf">
        <div></div><div></div><div></div>
        </div></div>
      <button ngbAutofocus class="btn btn-outline-dark float-right login_btn">Create</button>
    </div>
  </form>