<div class="modal-header">
  <h4 class="modal-title">New Campaign: Scenario Options</h4>
  <div>
    <button class="btn btn-outline-danger" style="float: right; margin-left: 2px" (click)="closeModal()">Close</button>
  </div>
</div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="container">
      
      <!--Name Field-->
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text span-redir">Name</span>
        </div>
        <input placeholder="Campaign Name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.name.errors }"/>
        <div *ngIf="submitted && formControls.name.errors" class="invalid-feedback">
          <div *ngIf="formControls.name.errors.required">Name is required</div>
        </div>
      </div>

      <hr>

      <!--Email Field-->
      <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text span-redir">Email</span>
        </div>
        <select class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
          <option disabled selected value> -- Select a email -- </option>
          <option *ngFor="let email of newCampaignService.allModules['emails']" [value]="email.id">{{ email.name }}</option>
        </select>

        <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
          <div *ngIf="formControls.email.errors.required">Email is required</div>
        </div>
      </div>


      <!-- Attachment Button -->
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <div *ngIf="attach">
            <button type="button" class="btn btn-outline-dark" (click)="file.click()">Attach <i class="fas fa-paperclip"></i></button>
            <input style="display: none" class="btn btn-outline-dark fas fa-paperclip" type="file" id="browse" (change)="attachFile($event)" #file>
          </div>
          
          <div *ngIf="!attach">
            <button type="button" class="btn btn-outline-danger" (click)="removeAttachment()">Remove <i class="fas fa-unlink"></i></button>
          </div>
        </div>

        <input readonly type="text" formControlName="attachment" class="form-control" style="background-color: white;"/>
      </div>


      <hr>

      <!--Pages Loop-->
      <div *ngFor="let p of newCampaignService.newCampaign.pages; let i = index">
        <!--Page Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
              <span class="input-group-text span-redir">Page {{ i + 1 }}</span>
          </div>
          <select class="form-control" formControlName="page{{ i+1 }}">
            <option disabled selected value> -- Select a page -- </option>
            <option *ngFor="let page of newCampaignService.allModules['pages']" [value]="page.id">{{ page.name }}</option>
          </select>

          <!--Minus button-->
          <div *ngIf="i == newCampaignService.newCampaign.pages.length - 1 && i > 0" class="input-group-append">
           <button class="btn btn-outline-danger fas fa-minus"type="button" (click)="deletePage(i)"></button>
          </div>

          <!--Plus button-->
          <div *ngIf="i == newCampaignService.newCampaign.pages.length - 1 && newCampaignService.newCampaign.pages.length < 4" class="input-group-append">
            <button class="btn btn-outline-dark fas fa-plus" type="button" (click)="addPage()"></button>
          </div>
        </div>
      </div>

      <hr>
      <p><strong>Optional Setting:</strong><br>Redirect victims to a URL after submitting a form on the last page of your campaign.</p>

      <!--Redirect URL Field-->
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text span-redir">Redirect URL</span>
        </div>
        <input placeholder="https://google.com" type="text" formControlName="redirectUrl" class="form-control"/>
      </div>

      <hr>
      <p><strong>Optional Settings:</strong><br>Select a payload to host and the trailing URL path it will be hosted on.</p>

      <!-- Payload File Field -->
      <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text span-redir">Payload</span>
        </div>
        <select [value]="newCampaignService.newCampaign.payloadFile" class="form-control" formControlName="payloadFile" [required]="formControls.payloadUrl.value ? true : null" [ngClass]="{ 'is-invalid': submitted && formControls.payloadFile.errors }">
          <option selected value> -- Select a file -- </option>
          <option *ngFor="let file of newCampaignService.serverFiles">{{ file }}</option>
        </select>
        <div *ngIf="submitted && formControls.payloadFile.errors" class="invalid-feedback">
          <div *ngIf="formControls.payloadFile.errors.required">A payload must be provided for hosting at the given URL</div>
        </div>
      </div>

      <!-- Payload URL Field -->
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Payload URL</span>
        </div>
        <input placeholder="/download/file.ext" type="text" formControlName="payloadUrl" class="form-control" [required]="formControls.payloadFile.value ? true : null" [ngClass]="{ 'is-invalid': submitted && formControls.payloadUrl.errors }"/>
        <div *ngIf="submitted && formControls.payloadUrl.errors" class="invalid-feedback">
          <div *ngIf="formControls.payloadUrl.errors.pattern">URL must start with /</div>
          <div *ngIf="formControls.payloadUrl.errors.required">URL is required to host the selected payload on</div>
        </div>
      </div>
    

    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m float-right"><div class="ldio-c46ivvx8kf">
      <div></div><div></div><div></div>
      </div></div>
    <button type="button" class="btn btn-outline-dark" style="float: right" (click)="backModal()"><i class="fas fa-arrow-left"></i></button>
    <button ngbAutofocus class="btn btn-outline-dark float-right login_btn" style="margin-left: 2px"><i class="fas fa-arrow-right"></i></button>
  </div>
</form>