<div class="modal-header">
  <h4 class="modal-title">New Campaign: Scenario Options</h4>
  <div>
    <button class="btn btn-outline-danger" style="float: right; margin-left: 2px" (click)="closeModal()">Close</button>
  </div>
</div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="container">
      
      <!--Name Field-->
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text span-redir">Name</span>
        </div>
        <input placeholder="Campaign Name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <hr>

      <!--Email Field-->
      <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text span-redir">Email</span>
        </div>
        <select class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <option disabled selected value> -- Select a email -- </option>
          <option *ngFor="let email of newCampaignService.allModules['emails']" [value]="email.id">{{ email.name }}</option>
        </select>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>

      <hr>

      <!--Pages Loop-->
      <div *ngFor="let p of newCampaignService.newCampaign.pages; let i = index">
        <!--Page Field-->
        <div class="input-group form-group">
          <div class="input-group-prepend">
              <span class="input-group-text span-redir">Page {{ i + 1 }}</span>
          </div>
          <select class="form-control" formControlName="page{{ i+1 }}">
            <option disabled selected value> -- Select a page -- </option>
            <option *ngFor="let page of newCampaignService.allModules['pages']" [value]="page.id">{{ page.name }}</option>
          </select>

          <!--Minus button-->
          <div *ngIf="i == newCampaignService.newCampaign.pages.length - 1 && i > 0" class="input-group-append">
           <button class="btn btn-outline-danger fas fa-minus"type="button" (click)="deletePage(i)"></button>
          </div>

          <!--Plus button-->
          <div *ngIf="i == newCampaignService.newCampaign.pages.length - 1 && newCampaignService.newCampaign.pages.length < 4" class="input-group-append">
            <button class="btn btn-outline-dark fas fa-plus" type="button" (click)="addPage()"></button>
          </div>
        </div>
      </div>

      <!--Redirect URL Field-->
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text span-redir">Redirect URL</span>
        </div>
        <input placeholder="https://google.com" type="text" formControlName="redirectUrl" class="form-control"/>
      </div>

      <!-- Payload File Field -->
      <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text span-redir">Payload</span>
        </div>
        <select [value]="newCampaignService.newCampaign.payloadFile" class="form-control" formControlName="payloadFile" [ngClass]="{ 'is-invalid': submitted }">
          <option selected value> -- Select a file -- </option>
          <option *ngFor="let file of newCampaignService.serverFiles">{{ file }}</option>
        </select>
      </div>

      <!-- Payload URL Field -->
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Payload URL</span>
        </div>
        <input placeholder="/download/file.ext" type="text" formControlName="payloadUrl" class="form-control"/>
      </div>
    

    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="loading" class="loadingio-spinner-dual-ball-jmseu88834m float-right"><div class="ldio-c46ivvx8kf">
      <div></div><div></div><div></div>
      </div></div>
    <button type="button" class="btn btn-outline-dark" style="float: right" (click)="backModal()"><i class="fas fa-arrow-left"></i></button>
    <button ngbAutofocus class="btn btn-outline-dark float-right login_btn" style="margin-left: 2px"><i class="fas fa-arrow-right"></i></button>
  </div>
</form>